*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    margin-top: 180px;

}
.book{
    background: #ecf0f1;
}
.row .card{
    height: 100%;
    overflow: hidden;

}
.row .card .product_icon{
    color:#f0932b;
    margin-top: 10px;
}
.row .card .card-img-top{
   height: 100%;
}
.row .card .card-body{
    width: 100%;
    justify-content: center;
    text-align: center;
}
.row .card .card-body .seen:hover{
    border: 3px solid #f1c40f;
    color: aliceblue;
}
h1{
    text-align: center;
}
.seen{
    background: linear-gradient( #4b4b4b,#353b48,#4b4b4b);
    text-decoration: none;
    padding: 10px;
    color: aliceblue;
}
.filter{
    width: 10%;
    margin-left: 80%;
}
.filter #loc{
    width: 80%;
    padding: 5px;
    font-size: 14px;
}
.filter_click{
    padding: 5px;
    border: 3px solid #4b4b4b;
    background:#4b4b4b;
    color: aliceblue;
    font-size: 13px;
    border-radius: 5px;
}
.filter_click:hover{
    border: 3px solid #f1c40f;
}