.home {
    text-align: center;
    margin-top: 160px;
    justify-self: center;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
.home .box-home{
    width: 100%;

}
.home .box-home .slide{
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}
.contain{
    display: flex;
}
.contain .box{
    width: calc(100% / 3);
}
.contain .box img{
    width: 70%;
    height: 100%;
}
.main{
    display: flex;
}
.main .box-main {
    width: calc(100% / 4);
}
.main .box-main img{
    width: 60%;
    height: 100%;
}
.footer{
    display: flex;
    margin-top: 50px;
}
.footer .box-footer{
    width: calc(100% / 3);
}
.footer .box-footer img{
    width: 80%;
}
/* .footer .box-footer img:hover::before{
        position: absolute;
        z-index: 1;
        top: 0;
        left: -10%;
        width: 120%;
        height: 100%;
        background: rgba(255, 255, 255, 0.2);
        content: '';
        -webkit-transition: -webkit-transform .6s;
        transition: transform .8s;
        -webkit-transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, 100%, 0);
        transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 135deg) translate3d(0, 100%, 0);
        opacity: 0;
        filter: alpha(opacity=0);
        visibility: hidden;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
} */