.footer{
    display: flex;
    margin-top: 50px;
    justify-content: center;
    text-align: center;
}
.footer h3{
    font-size: 20px;
    opacity: 0.9;
}
.footer p{
    opacity: 0.7;
}
.footer .box-footer{
    width: calc(100% / 3);
}
.footer .box-footer p{
    font-size: 12px;
    margin-top: 2%;
    margin-bottom: 2%;
}
.footer .box-footer .internet{
    font-size: 30px;
}
.footer .box-footer .internet a{
    margin-left: 3%;
}
.footer .box-footer img{
    width: 80%;
}
.internet a{
    font-size: 30px;
}
.BCT{
    display: flex;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
}
